<div class="container">
  <div class="main-body">
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle"
                width="150">
              <div class="mt-3">
                <h4>Lê Hoài Nam</h4>

                <p class="text-secondary mb-1">21 years old</p>
                <p class="text-secondary mb-1">(NO BIRTHDAY)</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mt-3">
          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action" href="/user/profile">Thông tin cá nhân</a>
            <a class="list-group-item list-group-item-action active" href="/user/ticket-booked">Vé của tôi</a>
            <a class="list-group-item list-group-item-action" href="/user/ticket-history">Lịch sử đặt vé</a>
          </div>
        </div>
      </div>
      <div class="col-md-8">

        <div class="card">

          <h3 class="card-header text-center font-weight-bold text-uppercase py-4">My tickets</h3>
          <div class="card-body">
            <!--Form Edit-->
            <!--Form Edit .//-->
            <div id="table" class="table-editable">

              <table class="table table-bordered table-responsive-md table-striped text-center">

                <thead>
                  <tr>
                    <th class="text-center">ID vé</th>
                    <th class="text-center">ID đặt chỗ</th>
                    <th class="text-center">Vị trí</th>
                    <th class="text-center">Giá</th>
                  </tr>
                </thead>
                <tbody>
                  {{#if this.list}}
                  {{#each this.list}}
                  <td class="pt-3-half"> {{idTicket}}</td>
                  <td class="pt-3-half"> {{idBooking}}</td>
                  <td class="pt-3-half"> {{postion}}</td>
                  <td class="pt-3-half"> {{prince}}</td>
                  {{/each}}

                  {{else}}
                  <td colspan="4">Không có vé nào được mua</td> 
                  {{/if}}


                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!--End Edit profile-->
      </div>
    </div>
  </div>
</div>

</div>